<template name="budget">

   <h3 class="headline">Budget: {{currentBudget.amount}} €</h3>

    <i class= "fi-shopping-bag iconBudget iconB1"></i>
    <i class= "fi-euro iconBudget iconB3"></i>
    <i class= "fi-calendar iconBudget iconB3"></i>
    <hr class="hrBudget">
    <div class="iconB1 bspBudget">Toast</div>
    <div class="iconB2 bspBudget">1,33 €</div>
    <div class="iconB3 bspBudget">15.09.</div>

    <i class= "btn-primary circle budegtIconTorso fi-torso"  id="invite"></i>
    <i class= "btn-primary circle budgetIconBill fi-dollar-bill"  id="budgetChange"></i>

</template>
