<template name="budget">

    <div class="twoColmn1 bspBudget">Budget: </div>
    <div class="twoColmn2 bspBudget">{{formatCurrency currentBudget.amount}} €</div>


    <i class= "fi-shopping-bag iconBudget iconB1"></i>
    <i class= "fi-euro iconBudget iconB2"></i>
    <i class= "fi-calendar iconBudget iconB3"></i>
    <hr class="hrBudget">
    {{#HammerTouchArea gestureMap=templateGestures}}
        {{#each expenses}}
            <div class="expense" data-id="{{_id}}">
                <div class="iconB1">{{title}}</div>
                <div class="iconB2 expense-data">{{formatCurrency amount}}</div>
                <div class="iconB3 expense-data">{{formatDate date}}</div>
                <div class="expense-delete">
                    <i class="fi-trash"></i>
                </div>
            </div>
        {{/each}}
    {{/HammerTouchArea}}
    <form class="expense-new">
        <div class="iconB1 bspBudget">
            <input required id="new-expense-title" class="input-budget" type="text" placeholder="Einkauf">
        </div>
        <div class="iconB2 bspBudget">
            <input required id="new-expense-amount" class="input-budget" type="number" min="0" max="1000" step="0.01"  placeholder="€">
        </div>
        <div class="iconB3 bspBudget">
        {{formatDate currentDate}}
        </div>
        <button type="submit" value="Budget speichern" class="budgetButton">ok</button>
    </form>
    <hr class="hrBudget">
    <div class="twoColmn1 bspBudget">Rest: </div>
    <div class="twoColmn2 bspBudget">{{formatCurrency remainingBudget}} €</div>



    <i class= "btn-primary circleNotFixed red budegtIconTorso left fi-torso"  id="invite"></i>
    <i class= "btn-primary circleNotFixed red budgetIconBill right fi-dollar-bill"  id="budgetChange"></i>

</template>
