<template name="connect">
  <h1 class="headline">Connect</h1>

  <hr>
  Um einer WG beitreten zu können, musst du von einem WG-Mitglied eingeladen werden.<br/><br/>
  <i class="fi-megaphone iconGroup half1"></i>
  <form class="join-group">
    <input class="group-name half2" type="text" placeholder="Gib den Namen der WG ein" required><br/>

    <button type="submit" class="circleNotFixed marginNormalTop green right circleOk">&gt;</button>
  </form>

  <button class="btn-primary circleNotFixed red left marginNormalTop circleBack" id="getStartet">&lt;</button>
</template>