<template name="getStartet">


    <h1 class="headline">Get Started</h1>
        <hr>



    <div class="btn-primary naviDotsGetStarted" id="newGroup">
        <i class="btn-primary fi-address-book icon" id="newGroup"></i><h1 class="btn-primary" id="newGroup">New Group</h1>
        Hier kannst du eine neue WG-Gruppe anlegen und deine Freunde dazu einladen.
    </div>

    <div class="btn-primary naviDotsGetStarted" id="connect">
        <i class="btn-primary fi-plus icon" id="connect"></i><h1 class="btn-primary" id="connect">Connect to Group</h1>
        Wenn du schon in eine WG-Gruppe eingeladen wurdest, kannst du auf dieser Seite der Gruppe beitreten.
    </div>

</template>