<template name="invite">

    <h1  class="headline">Invite</h1>

    <hr>

    Lade hier einen Mitbewohner anhand seiner E-Mail Addresse in deine Gruppe ein.<br/><br/>
    <i class="fi-torso iconGroup half1"></i><input class="half2 inputGroup" id="wg-name" type="text" placeholder="Mitbewohner-Mail-Addresse" required><br/>


    <button class="btn-primary circle circleOk" id="inviteSucces">&gt;</button>
    <button class="btn-primary circle circleBack" id="budget">&lt;</button>


</template>