<template name="invite">

  <h1  class="headline">Invite</h1>
  <hr>

  Lade hier einen Mitbewohner anhand seiner E-Mail Addresse in deine Gruppe ein.<br/><br/>
  <i class="fi-torso iconGroup half1"></i>
  <form class="new-invitation">
    <input class="invite-email half2 inputGroup" type="text" placeholder="Mitbewohner-Mail-Addresse" required><br/>
    <button class="circleNotFixed green right marginNormalTop circleOk">&gt;</button>
    <button class="btn-primary circleNotFixed left marginNormalTop red circleBack" id="budget">&lt;</button>
  </form>

</template>