<template name="newGroup">
    <h1 class="headline">New Group</h1>

    <hr>


    <form class="group-new">
        <i class="fi-megaphone iconGroup half1"></i><input class="half2 inputGroup" id="wg-name" type="text" placeholder="Gib den Namen deiner WG ein" required><br/>
        <i class="fi-torso iconGroup half1"></i> <input class="half2 inputGroup" id="mail-1" type="email" placeholder="Gib die Mail von einem Mitbewohner ein" required><br/>
        <i class="fi-torsos iconGroup half1"></i> <input class="half2 inputGroup" id="mail-2" type="text" placeholder="Ein weiterer Mitbewohner"><br/>
        <i class="fi-torsos-all iconGroup half1"></i> <input class="half2 inputGroup" id="mail-3" type="text" placeholder="Und noch ein Mitbewohner"><br/>
      <button type="submit" class="circleOk circleNotFixed marginNormalTop green right" value="WG gründen">&gt;</button>
    </form>

    <button class="btn-primary marginNormalTop circleBack circleNotFixed left red" id="getStartet">&lt;</button>

</template>