html, body, .left-off-canvas-menu, .inner-wrap, .off-canvas-wrap {
    background: lemonchiffon;
    height: 100%;
}

#login-buttons {
    height: 150px;
}

#login-dropdown-list .login-form .login-button {
    background-color: tomato;
    border: none;
    border-radius: 0;
}

#login-email-label-and-input  input#login-email, #login-email-label-and-input  input#login-password {
    border-radius: 0;
}

.login-link-text {
    background-color: tomato;
    font-size: 20px;
    color: lemonchiffon;
    padding-left: 2px;
    padding-top: 37px;
    left: -38px;
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: -143px;
    border-radius: 100px;
    cursor: none
}

.circleBudget{
    position: absolute;
    background-color: tomato;
    color: lemonchiffon;
    padding-left: 0px;
    padding-top: 9px;
    left: 139px;
    width: 100px;
    height: 100px;
    bottom: -56px;
    font-size: 47px;
    border-radius: 100px;
}

h3 {
    padding-bottom: 10px;
}

.iconBudget {
    font-size: 30px;
    text-align: left;
    padding-left: 5px;
}

.bspBudget {
    font-size: 20px;
    text-align: left;
    padding-left: 5px;
    color: rgba(255, 99, 71,0.7);
}

.hrBudget{
    width: 355px;
    margin-left: 0;
    margin: 5px;
    margin-bottom: 10px;
}

.iconB1 {
    width: 60%;
    float: left;
}

.iconB2 {
    width: 20%;
    float: left;
}

.iconB3 {
    width: 20%;
    float: left;
}


#login-buttons a, .accounts-dialog a {
    text-decoration: none;
}


#login-buttons a:hover, #login-buttons a:focus {
    color: lemonchiffon;
}

#login-buttons a.login-close-text:hover, #login-buttons a.additional-link:hover{
    color: #333333;
}


#login-dropdown-list {
    position: absolute;
    top: 34px;
    left: -109px;
}


.circle {
    position: absolute;
    width: 72px;
    height: 73px;
    bottom: 20px;
    font-size: 47px;
    border-radius: 100px;
}

.budetButton {
    background-color: tomato;
    padding-left: 11px;
    padding-top: 5px;
    position: relative;
}

button.budetButton:hover, button.budetButton:focus {
    background-color: tomato;
}

.budegtIconTorso {
    background-color: tomato;
    color: lemonchiffon;
    padding-left: 2px;
    padding-top: 11px;
    left: 15px;
    bottom:15px;
}

.budgetIconBill {
    background-color: tomato;
    color: lemonchiffon;
    padding-left: 3px;
    padding-top: 12px;
    right: 15px;
    bottom:15px;
}

.circleBack {
    background-color: tomato;
    padding-left: 21px;
    padding-top: 9px;
    left: 30px;
}

.circleBack:hover {
  background-color: tomato;
}

.circleClose{
    background-color: grey;
    padding-left: 25px;
    padding-top: 5px;
    left: 151px;
}

.circleClose:hover {
    background-color: grey;
}

.circleOk{
    background-color: limegreen;
    padding-left: 25px;
    padding-top: 9px;
    right: 30px;
}

.circleOk:hover {
    background-color: limegreen;
}

.half1 {
    width: 26%;
    float: left;
}
.half2 {
    width: 74%;
    float: left;
}

h1, body {
    color: tomato;
font-family:  sans-serif;
font-variant: small-caps;
font-weight: 100;
line-height: 30px;
    text-align: center
}

#main {
    padding: 5px;
}

.naviDotsGetStarted{
    padding-bottom: 30px;
}

.icon {
    font-size: 70px;
}

.iconGroup {
    font-size: 30px;
}

input.inputGroup {
    width: 70%;
}

h1.headline {
    padding-top: 35px;
}

ul.off-canvas-list li a:hover {
    background: tomato;
}

hr {
    border: solid tomato 1px;
    width: 130px;
    margin-left: 30%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.tab-bar{width:100%;}

.inner-wrap{min-height:265px;}

.main-section{padding:10px;}

.move-right .exit-off-canvas {
    box-shadow: -4px 0 4px rgba(110, 17, 0, 0.5), 4px 0 4px rgba(110, 17, 0, 0.5);
}
.left-off-canvas-menu, ul.off-canvas-list li label, .tab-bar .menu-icon, .tab-bar, .tab-bar h1{
    background: tomato;
    color: lemonchiffon;}

ul.off-canvas-list li label, ul.off-canvas-list li a {
    border-bottom: 1px solid lemonchiffon;
    color: lemonchiffon;
}